.NavigationItem{
    display: inline-block;
    margin : 10px;
}

.NavigationItem a{
    text-decoration: none;
    color:#fff;

}
.active{
    color:#1be4da !important;
    border-bottom: 2px solid;
}