

.SearchInput{
    width: 30%;
    height: 30px;
    border: 2px solid #d2cece;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
}
.SearchPanel{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.LoadingDiv{
    margin-left: 10px;
}
@media (max-width : 992px){
    .SearchInput {
        width : 70%
    }   
  }