.MovieList{
    display : flex;  
    flex-wrap: wrap;
    justify-content: center;
    height: calc(100vh - 120px ) !important;
    /* overflow: auto !important; */
}

.MovieLists{
    position: relative;
}
.MovieContainer{
   
}
.More{
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
}